<h1>API</h1>

<p>
  <strong>Nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>Secteur:</strong>
  <%= @cipher.secteur %>
</p>

<p>
  <strong>Clef:</strong>
  <%= @cipher.clef %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @cipher.cipher_hash %>
</p>


<%= link_to 'Back', users_path %>
