<h2> <%= t('Edit') + ' ' + current_user.user_name %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="field">
        <%= f.label :new_password %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %></br>
				<i>(leave blank if you don't want to change it)</i>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
  </div>

  <hr/>
  
  <div class="row">
    <div class="col-md-10">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
     <div class="col-md-4">
       <%= f.label :first_name %>
       <%= f.text_field :first_name %>
     </div>
     <div class="col-md-4">
       <%= f.label :name %>
       <%= f.text_field :name %>
     </div>
     <div class="col-md-4">
       <%= f.label :language %>
       <%= f.select :language, [['fr',:fr],['it',:it],['de',:de],['en',:en]]%> <br/>
     </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :user_name %>
      <%= f.text_field :user_name %>
    </div>
    <div class="col-md-4">
      <%= f.label :group_id %>
      <%= f.collection_select :group_id, Group.all, :id, :name %>
    </div>
    <div class="col-md-4">
      <%= f.label :role_id %>
      <%= f.collection_select :role_id, get_roles_list, :id, :name %>
    </div>
  </div>

  <hr/>      

  <div class="row">
    <div class="col-md-10">    
      <div class="field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "off" %></br>
				<i>(we need your current password to confirm your changes)</i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">    
      <div class="actions">
        <%= f.submit t('Validate') %>
      </div>
    </div>
  </div>
<% end %>

<hr/>

<h2>Cancel my account</h2>

<p><h4>Unhappy? </h4> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to t('Back'), :back %>
