<%= form_for(group) do |f| %>
<div class="row">
  <div class="col-md-6">
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    </div>
   </div>

<div class="row">
  <div class="col-md-2 field_name">
    <%= t('Name') %> :
  </div>
  <div class="col-md-3 field">
    <%= f.text_field :name %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 field_name">
    <%= t('Code') %> :
  </div>
  <div class="col-md-3 field">
    <%= f.text_field :code %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 field_name">
    <%= t('Description') %> :
  </div>
  <div class="col-md-3 field">
    <%= f.text_area :description %>
  </div>
 </div>
  
<!-- should be displayed only if group udpate mode, and user is a keyAdmin role -->   	

  <div class="row">
    <div class="col-md-4 col-md-offset-1">
  <hr/>
  <h2> <%= t('KeysList') %> </h2>
      
  <table class="table table-striped">
    <tr>
      <th></th>
      <th><%= t('User') %></th>
      <th><%= t('Key') %></th>
      <th><%= t('ValidFrom') %></th>
      <th><%= t('ValidUntil') %></th>
      <th><%= t('Description') %></th>
    </tr>

    <%=  f.nested_fields_for :keys, wrapper_tag: 'tr' do |cipher| %>
      <td> <%= cipher.remove_nested_fields_link {image_tag("remove.png")} %></td>
      <td> <%= cipher.collection_select :user_id, @group.users, :id, :name %> </td>
      <td> <%= cipher.text_field :name %> </td>
      <td> <%= cipher.text_field :valid_from %> </td>
      <td> <%= cipher.text_field :valid_until %> </td>
      <td> <%= cipher.text_area :description %> </td>
      <td> <%= cipher.text_field :created_by %> </td> <!-- hidden initialise with group values -->
      <td> <%= cipher.text_field :updated_by %> </td>	<!-- hidden initialise with group values -->		

  <% end %>
  </table>
  
  <%= f.add_nested_fields_link :keys, image_tag("add.png") %> <%= t('New') %> 

  </div>
  </div>   	
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
		<div class="actions">
    <%= f.submit %>
  </div>

  </div>
</div>
  
<% end %>
