<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @group.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#ciphers" data-toggle="tab"> <%= t('Ciphers') %> </a></li>
      <li><a href="#users" data-toggle="tab"> <%= t('Users') %> </a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane" id="ciphers">
        <table class="table table-striped table-condensed">
          <tr align="left">
            <th></th>
            <th><%= t('Cipher') %></th>
            <th><%= t('User') %></th>
            <th><%= t('EndOfLife') %></th>
            <th><%= t('UpdatedBy') %></th>
            <th><%= t('UpdatedAt') %></th>
          </tr>
          
          <% @group.ciphers.order("update_at").each do |child_object| %>
          <tr align="left">
            <td valign="top"> <%=child_object.key%> </td>
            <td valign="top"> <%=child_object.user%> </td>
            <td valign="top"> <%=child_object.valid_until%> </td>
            <td valign="top"> <%=child_object.updated_by%> </td>
            <td valign="top"> <%=child_object.updated_at%> </td>
          </tr>
          <% end%>
        </table>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
