<%= form_for(@user) do |f| %>
<div class="row">
  <div class="col-md-6">
		<% if user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
	
				<ul>
				<% user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
  </div>
</div>

  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :section %>
        <%= f.collection_select :section, get_sections_list, :name, :name%>
      </div>
    </div>
	</div>
	
  <div class="row">
     <div class="col-md-4">
       <%= f.label :first_name %>
       <%= f.text_field :first_name %>
     </div>
     <div class="col-md-4">
       <%= f.label :name %>
       <%= f.text_field :name %>
     </div>
     <div class="col-md-4">
       <%= f.label :language %>
       <%= f.select :language, [['fr',:fr],['it',:it],['de',:de],['en',:en]]%> <br/>
     </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :user_name %>
      <%= f.text_field :user_name %>
    </div>
    <div class="col-md-4">
      <%= f.label :group_id %>
      <%= f.collection_select :group_id, Group.all, :id, :name %>
    </div>
    <div class="col-md-4">
      <%= f.label :role_id %>
      <%= f.collection_select :role_id, get_roles_list, :id, :name %>
    </div>
  </div>
<br/>
<div class="row">
  <div class="col-md-2">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>  
</div>

<% end %>


