<%= form_for(@user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4 col-md-offset-1">

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :group_id %>
        <%= f.collection_select :group_id, Group.all, :id, :name %> </td>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
    </div>
    
    <div class="col-md-5">
      <div style="border: 1px solid grey; border-radius: 5px;">
        <p>KEYMAN is a secured server for sharing symetrical ciphers between applications.</br>
	It is currently under development.<br/>
	Features :<br/>
	<ul>
	  <li> Manage users
	  </li>
	  <li> Manage several ciphers per user
	  </li>
	  <li> Automatically generate unique ciphers
	  </li>
	  <li> Serves autheticated JSON API through https protocol
	  </li><!--
	  <li> Allows crypting of ciphers with PKI (not available yet)
	  </li> -->
	</ul>
	</p>
<!--
		<br/>
		<%= f.label :uploaded_file, t('PKI_file') %>
		<%= f.file_field :uploaded_file %>  
-->
		</div>
  </div>
	</div>
	
  <% if @user.new_record? %>
    <div class="field">
      <%= f.label :password %>
      <%= f.text_field :password %>
      Retype
      <%= f.text_field :password_confirmation %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  </div></div>

<% end %>


