<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %>
    <%= f.text_field :nom %>
  </div>

  <div class="field">
    <%= f.label :prenom %>
    <%= f.text_field :prenom %>
  </div>

  <div class="field">
    <%= f.label :section %>
    <%= f.text_field :section %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  
<hr/>
<h2>Liste de clefs</h2>

<table>
  <%=  f.fields_for :keys do |key| %>
  <tr>
    <td><%= key.secteur %> </td>
    <td><%= key.clef %> </td>
  </tr>
<% end %>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
