<p id="notice"><%= notice %></p>

<h1><%= t('Users') %></h1>

<table>
  <thead>
    <tr>
      <th> <%= t('Name') %></th>
      <th> <%= t('FirstName')%> </th>
      <th> <%= t('Section')%> </th>
      <th> <%= t('eMail')%> </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="col_narrow"><%= link_to user.name, user %></td>
        <td class="col_narrow"><%= user.first_name %></td>
        <td class="col_narrow"><%= user.group.name %></td>
        <td class="col_narrow"><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('NewUser'), new_user_path %>
