<h2>Register</h2>

<%= form_tag do %>
    
  <div class="row">
    <div class="col-md-4">
      <div class="field">
        email
        <%= email_field :email, autofocus: true %>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="field">
        password
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        <%= password_field :password, autocomplete: "off" %></br>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="field">
        password_confirmation
        <%= password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        section
        <%= collection_select :section, get_sections_list, :name, :name, 1 %>
      </div>
    </div>

  </div>

  <hr/>
  
  <div class="row">
     <div class="col-md-4">
       first_name
       <%= text_field :first_name %>
     </div>
     <div class="col-md-4">
       name
       <%= text_field :name %>
     </div>
     <div class="col-md-4">
       language
       <%= select :language, [['fr',:fr],['it',:it],['de',:de],['en',:en]]%> <br/>
     </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      user_name
      <%= text_field :user_name %>
    </div>
    <div class="col-md-4">
      group_id
      <%= collection_select :group_id, Group.all, :id, :name %>
    </div>
    <div class="col-md-4">
      role
      <%= collection_select :role_id, get_roles_list, :id, :name %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-2">    
      <div class="actions">
        <%= submit "Register" %>
      </div>
    </div>
  </div>

<% end %>

