<h1><%= t('UsersCiphers') %></h1>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-1">
    <%= t('Name') %>
  </div>
  <div class="col-md-3">
    <%= @user.nom %>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <%= t('First name') %>
  </div>
  <div class="col-md-3">
    <%= @user.prenom %>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <%= t('Section') %>
  </div>
  <div class="col-md-3">
    <%= @user.section %>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <%= t('eMail') %>
  </div>
  <div class="col-md-3">
    <%= @user.email %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <nav class="mid_menu">
      <ul>
        <li><%= link_to t('EditUser') + ' | ', edit_user_path(@user) %></li>
        <li><%= link_to t('DelUser'), @user, method: :delete, data: { confirm: t('Confirmation') } %></li>
      </ul>
    </nav>
  </div>
</div>

<hr/>
<h2>Liste de clefs</h2>

<table>
  <tr>
    <th><%= t('Indentifier') %></th>
    <th><%= t('Sector') %></th>
    <th><%= t('Cipher') %></th>
    <th><%= t('Hash') %></th>
  </tr>
  <%  @user.ciphers.each do |cipher| %>
  <tr>
    <td class="col_narrow"><%= cipher.id %> </td>
    <td class="col_narrow"><%= cipher.secteur %> </td>
    <td class="col_medium"><%= cipher.clef %> </td>
    <td class="col_wide"><%= cipher.cipher_hash %> </td>
  </tr>
<% end %>
</table>

<%= link_to t('EditUser'), edit_user_path(@user) %> |
<%= link_to t('Back'), users_path %>
