<h1>User and ciphers</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.prenom %>
</p>

<p>
  <strong>Section:</strong>
  <%= @user.section %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<hr/>
<h2>Liste de clefs</h2>

<table>
  <tr>
    <th>Secteur</th>
    <th>Cipher</th>
    <th>Cryptogramme</th>
  </tr>
  <%  @user.ciphers.each do |cipher| %>
  <tr>
    <td class="col_narrow"><%= cipher.secteur %> </td>
    <td class="col_medium"><%= cipher.clef %> </td>
    <td class="col_wide"><%= cipher.cipher_hash %> </td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
