<h1><%= t('UsersCiphers') %></h1>

<div class="row">
  <div class="col-md-1 field_name">
    <%= t('Name') %>
  </div>
  <div class="col-md-3">
    <%= @user.name %>
  </div>
</div>

<div class="row">
  <div class="col-md-1 field_name">
    <%= t('First name') %>
  </div>
  <div class="col-md-3">
    <%= @user.first_name %>
  </div>
</div>

<div class="row">
  <div class="col-md-1 field_name">
    <%= t('Section') %>
  </div>
  <div class="col-md-3">
    <%= @user.group.name %>
  </div>
</div>

<div class="row">
  <div class="col-md-1 field_name">
    <%= t('eMail') %>
  </div>
  <div class="col-md-3">
    <%= @user.email %>
  </div>
</div>

<br/>

<%= link_to t('EditUser'), edit_user_path(@user) %> |
<%= link_to t('Back'), users_path %>
