<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.prenom %>
</p>

<p>
  <strong>Section:</strong>
  <%= @user.section %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<hr/>
<h2>Liste de clefs</h2>

<table>
  <%  @user.ciphers.each do |cipher| %>
  <tr>
    <td><%= cipher.secteur %> </td>
    <td><%= cipher.clef %> </td>
    <td><%= cipher.cipher_hash %> </td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
