<%= form_for(@key) do |f| %>
<div class="row">
  <div class="col-md-6">
  <% if @key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key.errors.count, "error") %> prohibited this key from being saved:</h2>

      <ul>
      <% @key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    </div>
   </div>

<div class="row">
  <div class="col-md-2 field_name">
    <%= t('Name') %> :
  </div>
  <div class="col-md-3 field">
    <%= @key.name %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 field_name">
    <%= t('User') %> :
  </div>
  <div class="col-md-3 field">
				<td> <%= f.collection_select :user_id, data_owners_list, :id, :user_name %> </td> 
  </div>
</div>

<div class="row">
  <div class="col-md-2 field_name">
    <%= t('Group') %> :
  </div>
  <div class="col-md-3 field">
    <%= @key.group.name  %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 field_name">
    <%= t('Description') %> :
  </div>
  <div class="col-md-3 field">
    <%= f.text_area :description %>
  </div>
 </div>
  
<!-- should be editable only if user is a data owner role -->   	

  <div class="row">
    <div class="col-md-9 col-md-offset-1">
  <hr/>
  <h2> <%= t('AccessList') %> </h2>
      
  <table class="table table-striped">
    <tr>
      <th></th>
      <th><%= t('User') %></th>
      <th><%= t('AllowEncrypt') %></th>
      <th><%= t('AllowDecrypt') %></th>
      <th><%= t('ValidFrom') %></th>
      <th><%= t('ValidUntil') %></th>
    </tr>
		<% if can? :manage, AccessList %> 
			<%=  f.nested_fields_for :access_lists, wrapper_tag: 'tr' do |access| %>
				<td> <%= access.remove_nested_fields_link {image_tag("remove.png")} %></td>
				<td> <%= access.collection_select :user_id, data_stewards_list, :id, :user_name %> </td>
				<td> <%= access.check_box :allow_encrypt %> </td>
				<td> <%= access.check_box :allow_decrypt %> </td>
				<td> <%= access.date_field :valid_from %> </td>
				<td> <%= access.date_field :valid_until %> </td>
			<% end %>
  <% else %>
   <% @key.access_lists.each do |access| %>
    <tr>
     <td> </td>
     <td> <%= access.user.user_name %> </td>
     <td> <%= access.allow_encrypt %> </td>
     <td> <%= access.allow_decrypt %> </td>
     <td> <%= access.valid_from %> </td>
     <td> <%= access.valid_until %> </td>
    </tr>
   <% end %>
  <% end %>
   
  </table>
 
 <% if can? :manage, AccessList %>
		<%= f.add_nested_fields_link :access_lists, image_tag("add.png") %> <%= t('New') %>
 <% end %>

  </div>
  </div>   	
   <div class="row">
    <div class="col-md-4 col-md-offset-1">
   <div class="actions">
     <%= f.submit t('Validate')%>
  </div>

  </div>
</div>
  
<% end %>
