<h1>API</h1>

<p>
  <strong><%=t('User')%>:</strong>
  <%= current_user.user_name %>
</p>

<p>
  <strong><%=t('Group')%>:</strong>
  <%= @key.group.name %>
</p>

<p>
  <strong><%=t('Name')%></strong>
  <%= @key.name %>
</p>

<p>
  <strong><%=t('Hash')%></strong>
  <%= @key.key_hash.reverse %>
</p>


<%= link_to t('Back'), groups_path %>
