<p id="notice"><%= notice %></p>

<h1><%= t('AuditTrail') %></h1>
<%= will_paginate %>
<table class="table table-striped">
  <thead>
    <tr>
      <th> <%= t('User') %></th>
        <th> <%= t('Action') %> </th>
        <th> <%= t('ObjectId') %> </th>
        <th> <%= t('ObjectClass') %> </th>
        <th> <%= t('ObjectName') %> </th>
        <th> <%= t('ServerName') %> </th>
        <th> <%= t('Description') %> </th>
<!--    <th> used_encrypt </th> Only necessary if the database package can trace this 
        <th> used_decrypt </th> -->
        <th> <%= t('CreatedAt') %> </th>
        <th> <%= t('CreatedBy') %> </th>
    </tr>
  </thead>

  <tbody>
    <% @audit_trails.each do |trail| %>
      <tr>
        <td><%= trail.user.name %></td>
        <td><%= trail.action %></td> 
        <td><%= trail.object_id %></td> 
        <td><%= trail.object_class %></td> 
        <td><%= trail.object_name %></td> 
        <td><%= trail.server_name %></td>  
        <td><%= trail.description %></td> 
<!--    <td><%= trail.used_encrypt %></td> Only necessary if the database package can trace this 
        <td><%= trail.used_decrypt %></td> -->
        <td><%= trail.created_at %></td> 
        <td><%= trail.created_by %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>
