<p id="notice"><%= notice %></p>

<h1>Audit records</h1>
<%= will_paginate %>
<table class="table table-striped">
  <thead>
    <tr>
      <th> user </th>
        <th> action </th>
        <th> object_id </th>
        <th> object_class </th>
        <th> object_name </th>
        <th> server_name </th>
        <th> description </th>
        <th> used_encrypt </th>
        <th> used_decrypt </th>
        <th> created_at </th>
        <th> created_by </th>
    </tr>
  </thead>

  <tbody>
    <% @audit_trails.each do |trail| %>
      <tr>
        <td><%= trail.user.name %></td>
        <td><%= trail.action %></td> 
        <td><%= trail.object_id %></td> 
        <td><%= trail.object_class %></td> 
        <td><%= trail.object_name %></td> 
        <td><%= trail.server_name %></td>  
        <td><%= trail.description %></td> 
        <td><%= trail.used_encrypt %></td> 
        <td><%= trail.used_decrypt %></td> 
        <td><%= trail.created_at %></td> 
        <td><%= trail.created_by %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>
