<header>
  <%= image_tag("images/CH.jpg", alt: "KeyMan") %>
  <span>Cryptographic Keys Manager</span>
  <ul>
    <% if logged_in? %>
    <li> <%= t('User') %> <%= current_user %> </li>
    <li> <%= link_to t('Sign_out'), logout_path, method: "delete" %></li>
    <% else %>
    <li> <%= link_to t('Sign_in'), login_path %></li>
    <% end %>
    <li> <%= link_to t('Help'), "#" %> </li>
  </ul>
</header>
