<!DOCTYPE html>
<html>
  <head>
    <title>Key Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    
    <%= render "layouts/header" %>
    
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 left_border">
        <ul class="" role="menu">
          <li><%= link_to t('Groups'), groups_path %></li>
          <li><%= link_to t('Users'), users_path %></li>
          <li><%= link_to t('Parameters'), "#" %></li>
        </ul>
      </div>
      <div class="col-md-8 col-md-offset-1">

        <%= yield %>
             
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        
      </div>
    </div>
  </div>

  
    <%= render "layouts/footer" %>

  </body>

  <%= debug(params) if Rails.env.development? %>
  
</html>
