<%= form_for(parameter) do |f| %>
  <% if parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
      <% parameter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('Name') %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label t('Description') %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label t('Code') %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label t('Value') %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label t('ListName') %>
    <%= f.collection_select :list_name, get_parameters_lists, :value, :name %>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit t('Validate')%>
  </div>
<% end %>
