<h1><%= t('Parameters') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('Name')%></th>
      <th><%= t('Description')%></th>
      <th><%= t('Code')%></th>
      <th><%= t('Value')%></th>
      <th><%= t('List')%></th>
      <th colspan=2><%= t('Actions')%></th>
    </tr>
  </thead>

  <tbody>
    <% @parameters.order(:list_name).each do |parameter| %>
      <tr>
        <td><%= parameter.name %></td>
        <td><%= parameter.description %></td>
        <td><%= parameter.code %></td>
        <td><%= parameter.value %></td>
        <td><%= parameter.list_name %></td>
<!--    <td><%= link_to 'Show', parameter %></td> -->
        <td><%= link_to t('Edit'), edit_parameter_path(parameter) %></td>
        <td><%= link_to t('Inactivate'), parameter, method: :delete, data: { confirm: t('Sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('NewParameter'), new_parameter_path %>
