<h1>Parameters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Code</th>
      <th>Value</th>
      <th>List</th>
      <th colspan=2>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @parameters.order(:list_name).each do |parameter| %>
      <tr>
        <td><%= parameter.name %></td>
        <td><%= parameter.description %></td>
        <td><%= parameter.code %></td>
        <td><%= parameter.value %></td>
        <td><%= parameter.list_name %></td>
<!--    <td><%= link_to 'Show', parameter %></td> -->
        <td><%= link_to 'Edit', edit_parameter_path(parameter) %></td>
        <td><%= link_to 'Inactivate', parameter, method: :delete, data: { confirm: t('Sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parameter', new_parameter_path %>
