<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parameter.name %>
</p>

<p>
  <strong>:</strong>
  <%= @parameter. %>
</p>

<p>
  <strong>Description:</strong>
  <%= @parameter.description %>
</p>

<p>
  <strong>:</strong>
  <%= @parameter. %>
</p>

<p>
  <strong>Code:</strong>
  <%= @parameter.code %>
</p>

<p>
  <strong>:</strong>
  <%= @parameter. %>
</p>

<p>
  <strong>Value:</strong>
  <%= @parameter.value %>
</p>

<p>
  <strong>:</strong>
  <%= @parameter. %>
</p>

<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>
