<p>
  <strong><%= t('Name')%></strong>
  <%= @parameter.name %>
</p>

<p>
  <strong><%= t('Description')%></strong>
  <%= @parameter.description %>
</p>

<p>
  <strong><%= t('Code')%></strong>
  <%= @parameter.code %>
</p>

<p>
  <strong><%= t('Value')%></strong>
  <%= @parameter.value %>
</p>

<p>
  <strong><%= t('List name')%></strong>
  <%= @parameter.list_name %>
</p>


<%= link_to t('Edit'), edit_parameter_path(@parameter) %> |
<%= link_to t('Back'), parameters_path %>
